body{
    text-align: center;
    background-color: rgb(0, 0, 0);
  }
  
  .lightStatus{
    font-size: 2.5em;
    margin-top: 25px;
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
  }

  .lightButton{
    text-align: center;
    margin: 0 auto;
    font-size: 2.0em;
    font-family: 'Courier New', Courier, monospace;
    color: greenyellow;
    border-radius: 25px;
    padding: 20px;
    width : 450px;
    height : 65px;
    margin-bottom: 20px;
    border : 2px solid #73AD21;
    background: rgb(105,105,105);
    display : block;
  }

  .lightButton:active{
    background: rgba(47, 49, 49, 0.733)
  }
  